.organize-admin-notices:not(.active) > * {
	display: none !important;
}

.organize-admin-notices__toggle.organize-admin-notices__toggle {
	align-items: center;
	background: #fff;
	border-radius: 0 0 4px 4px;
	border: 1px solid #ccd0d4;
	border-top: none;
	box-shadow: 0 0 0 transparent;
	color: #72777c;
	display: flex;
	float: left;
	height: auto;
	line-height: 1.7;
	margin-bottom: 0;
	padding: 3px 6px 3px 16px;
	transition: box-shadow 0.1s linear;
	position: relative;
	z-index: 2;
}

.organize-admin-notices__toggle::after {
	background: #72777c;
	border-radius: 50%;
	color: #fff;
	content: attr(data-notice-count);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 0.8em;
	height: 1.6em;
	margin-left: 0.6em;
	padding: 0.1em;
	width: 1.6em;
	line-height: 1;
	font-weight: bold;
}

.organize-admin-notices.active {
	clear: both;
}

.organize-admin-notices .notice,
.organize-admin-notices div.updated,
.organize-admin-notices div.error {
	margin-left: 2px;
}
